ICBC_API_KEY=your_icbc_api_key_here
CCB_API_KEY=your_ccb_api_key_here
BOC_API_KEY=your_boc_api_key_here
HSBC_API_KEY=your_hsbc_api_key_here
CMB_API_KEY=your_cmb_api_key_here
BOCOM_API_KEY=your_bocom_api_key_here
WECHAT_WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=your_key_here
